PORT=3000

# Motor de base de datos: postgres (por ahora). Más adelante: mongo
DB_CLIENT=postgres

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=su_contraseña
DB_NAME=eventos
